.header {
  padding: 1rem var(--b-pad);
  background: #001835;
  cursor: pointer;
  display: none;
}
.main {
  display: flex;
  height: 100vh;
}
.chats-container {
  flex: 6;
  background: var(--dark-2, #011c3e);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
}
.chats-container > div:nth-child(1) {
  flex: 1;
}
.bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background: #011c3e;
}
.input-field-container {
  margin: 2rem 2rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  background: #09274d;
}
.output-input {
  flex: 1;
}
.input-field-container textarea {
  width: 100%;
  padding: 0.3rem 1rem;
  background: transparent;
  border: none;
  color: #c9c9c9;
  resize: none;
  margin: 0;
  line-height: 158.5%;
  max-height: 200px;
  margin-bottom: 0.5rem;
}
.input-field-container > textarea:focus {
  border: none;
  outline: none;
}
.input-field-container > textarea::placeholder {
  color: #c9c9c9;
}
.output-divs {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.selected-file {
  max-width: 500px;
  border: 1px solid #c9c9c9;
  padding: 1rem;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.pdf-close {
  position: absolute;
  right: 10px;
  background-color: #fff;
  color: #000;
}
.selected-file > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.audio-container {
  border-radius: 50px;
  background-color: #fff;
  position: relative;
  padding-right: 30px;
  display: flex;
  align-items: center;
}
.audio-close {
  position: absolute;
  right: 10px;
  background-color: #fff;
  color: #000;
}

/* Chat Item */
.left {
  padding: 1.5rem 4rem;
  display: flex;
  gap: 1rem;
}
/* .avatar {
} */
.chat-left {
  color: #c9c9c9;
  line-height: 158.5%;
}

.right {
  background-color: #09274d;
  padding: 1.5rem 4rem;
  color: #c4c4c4;
  display: flex;
  gap: 1rem;
}
.chat-right {
  line-height: 158.5%;
}

@media (width < 850px) {
  .header {
    display: flex;
  }
  .chats-heading-container {
    position: absolute;
    top: 0;
    left: -400px;
    bottom: 0;
    z-index: 100;
    transition: all 0.5s;
  }
  .chats-heading-container.active {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
  }
  .main {
    flex-direction: column;
  }
}
.spinner {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--white-color);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
