.container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-10vw, -14vh);
  z-index: 100;
}
.box {
  min-width: 25vw;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  animation: middle-top 0.5s;
}
.heading {
  padding: 1.5rem;
  color: var(--white-color);
  width: 100%;
  border-bottom: 1px solid var(--white-color);
}
.bottom {
  padding: 1rem;
  width: 100%;
}
.paragraph {
  font-size: 1rem;
}
.buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.cancel {
  background-color: rgba(52, 53, 65, 1);
  border: 1px solid var(--white-color);
  color: var(--black-color);
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}
.delete {
  background-color: rgba(185, 28, 28, 1);
  border: 1px solid var(--white-color);
  color: var(--black-color);
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}
@keyframes middle-top {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 900px) {
  .box {
    min-width: 40vh;
  }
}
