.container {
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  color: var(--white-color);
}
@media screen and (max-width: 340px) {
  .box {
    gap: 1rem;
  }
}
