.container {
  margin: 2rem var(--b-pad);
  padding: 4rem 3rem;
  border-radius: 30px;
  border-top: 2px solid var(--CTA, #4467ff);
  border-bottom: 2px solid var(--CTA, #4467ff);
  background: #010314;
  box-shadow: 0px 16px 80px 0px rgba(102, 77, 255, 0.1);
  display: flex;
  gap: 2rem;
  align-items: center;
}
.container h1 {
  color: #fff;
  font-size: var(--ft-900);
  font-weight: 700;
  margin-bottom: 2rem;
}
.container p {
  color: var(--paragraph);
  font-size: var(--ft-650);
  font-weight: 400;
  line-height: 160%;
}
