* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  max-width: 1800px;
  margin: auto;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: #0000ff;
  --black-color: #000000;
  --white-color: #ffffff;

  --bg-primary: #010314;
  --paragraph: #77798f;

  --b-pad: 4rem;
  --stock: #2a2b3a;

  /* font size */
  --ft-300: 12px;
  --ft-350: 14px;
  --ft-400: 16px;
  --ft-450: 18px;
  --ft-500: 20px;
  --ft-600: 24px;
  --ft-650: 26px;
  --ft-700: 28px;
  --ft-800: 40px;
  --ft-900: 54px;

  --background-color-account: linear-gradient(
    126deg,
    #010314 4.79%,
    #2a2b3a 54.4%
  );
  --border-buttom-color: #4467ff;
  --box-shadow-color: #74f;
}
