* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--white-light-color);
  max-width: 1800px;
  margin: auto;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: #0000ff;
  --black-color: #000000;
  --white-color: #ffffff;
  --font-family-pop: Poppins;
  --button-color: linear-gradient(126deg, #f9ed32 4.79%, #d9bd32 54.4%);
  --background-color-account: linear-gradient(
    126deg,
    #f9ed32 4.79%,
    #d9bd32 54.4%
  );
}
