.uploads-section {
  background-color: rgb(15 23 42);
  display: flex;
  gap: 2rem;
}
.image-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.image-section p {
  margin: 0;
  font-weight: 600;
  line-height: 1.625;
  font-size: 17px;
}
.file-specifications {
  color: rgb(255 255 255 /0.5);
  background-color: rgb(30 41 59);
  padding: 0.5rem;
  text-align: center;
  font-size: 17px;
  font-weight: 350;
  line-height: 24px;
  border-radius: 8px;
}
.upload-btn {
  all: unset;
  font-weight: 600;
  font-size: 17px;
  background-color: var(--box-shadow-color);
  color: var(--white-color);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.details-section {
  flex: 7;
}
.col {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.row {
  display: flex;
  gap: 2rem;
}
.row > div {
  flex: 1;
}
.user-input {
  all: unset;
  border-radius: 10px;
  border: 1px solid var(--stock);
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  outline: transparent solid 2px;
  outline-offset: 2px;
  margin-top: 0.5rem;
  color: var(--white-color);
}
.user-input:focus {
  border: 1px solid var(--box-shadow-color);
}
.image-section ul {
  margin: 0;
  padding: 0;
}
.files {
  list-style: none;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: var(--white-color);
}
.files a {
  color: var(--white-color);
  text-decoration: underline;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}
.files a:hover {
  text-decoration: underline;
}
.close {
  clip-path: polygon(
    0 100%,
    0 80%,
    30% 50%,
    0 20%,
    0 0,
    20% 0,
    50% 30%,
    80% 0,
    100% 0,
    100% 22%,
    70% 50%,
    100% 80%,
    100% 100%,
    80% 100%,
    50% 70%,
    20% 100%
  );
  align-self: center;
  min-width: 15px;
  height: 15px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

@media (width <750px) {
  .uploads-section {
    flex-direction: column;
  }
}
@media (width < 500px) {
  .row {
    flex-direction: column;
  }
}
