.container {
  background: var(--background-color-account);
  backdrop-filter: blur(2px);
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.5px);
  padding: 1rem;
  min-height: 80vh;
}
.left {
  background: linear-gradient(
    0deg,
    rgb(76, 79, 84) 0%,
    rgb(29, 29, 39) 25%,
    rgb(34, 45, 49) 100%
  );
  flex: 3;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0px 0px 10px;
}
.right {
  flex: 4;
  background-color: var(--bg-primary);
  min-height: inherit;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 2rem 3rem;
  width: -webkit-fill-available;
}

.right_container > h1 {
  padding: 0;
  margin: 0;
  color: var(--white-color);
  font-size: var(--ft-600);
  text-align: center;
  width: -webkit-fill-available;
  font-weight: 600;
}
.input_box {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: -webkit-fill-available;
}
.input_box > p {
  padding: 0;
  margin: 0;
  color: var(--white-color);
  font-size: var(--ft-350);
  text-transform: capitalize;
}
.input_box > input {
  all: unset;
  border: 1px solid var(--white-color);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--ft-450);
  font-weight: 500;
  outline: none;
  padding: 1.2rem 2rem;

  width: -webkit-fill-available;
  color: var(--white-color);
}
.password {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: relative;
}
.password > input {
  all: unset;
  border: 1px solid var(--white-color);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--ft-450);
  font-weight: 500;
  outline: none;
  padding: 1.2rem 2rem;
  width: -webkit-fill-available;
  color: var(--white-color);
}
.openclosed {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0%, -50%);
}
.openclosed > svg {
  color: var(--white-color);
  font-size: var(--ft-500);
  cursor: pointer;
}
.right_last {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: -webkit-fill-available;
  padding: 2rem 3rem;
  align-items: center;
  justify-content: center;
}
.button {
  padding: 0;
  margin: 0;
  font-size: var(--ft-450);
  padding: 0.5rem 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  background: #010314;
  border: 1.5px solid var(--border-buttom-color);
  box-shadow: 0px 0px 5px 0px var(--box-shadow-color);
  width: auto;
}
.button:hover {
  color: var(--white-color);
  background: var(--button-color);
}
.privacy_policy {
  font-size: var(--ft-300);
  color: var(--white-color);
  margin-top: 6px;
  font-weight: 500;
}
@media screen and (max-width: 3500px) {
  .box {
    max-width: 80vw;
  }
}
@media screen and (max-width: 1200px) {
  .left {
    flex: 4;
  }
  .right {
    flex: 4;
  }
}
@media screen and (max-width: 800px) {
  .left {
    display: none;
    flex: 0;
  }
  .right {
    flex: 1;
  }
  .right_container {
    padding: 1rem 2rem;
  }
  .right_last {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 540px) {
  .right_container {
    padding: 1rem 1rem;
  }
  .right_last {
    padding: 1rem 1rem;
  }
  .box {
    min-width: 95vw;
  }
  .container {
    padding: 1rem;
  }
}
